= simple_form_for @pin do |f|
  - if @pin.errors.any?
    %h2
      = @pin.errors.count
    %ul
      - @pin.errors.full_messages.each do |msg|
        %li= msg
  .form_group
    = f.input :title, label: "標題", input_html: { class: "form-control"}
  .form_group
    = f.input :description, label: "描述", input_html: { class: "form-control"}
  .form_group
    = f.input :image, label: "上傳圖片", input_html: { class: "form-control"}

  = f.button :submit, yield(:btn_text), class: "btn btn-primary"
