- provide(:btn_text, "更新")
.col-md-6.col-md-offset-3
  .row
    .panel.panel-default
      .panel-heading
        %h1 編輯
      .panel-body
        = image_tag @pin.image.url(:medium)
        = render 'form'
