#pin_show.row
  .col-md-8.col-md-offset-2
    .panel.panel-deafult
      .panel-heading.pin_image
        = image_tag @pin.image
      .panel-body
        %h1= @pin.title
        %p= @pin.description
        %p
          此篇文章由
          = link_to @pin.user.email, user_path(@pin.user)
          寫
      .panel-footer
        .row
          .col-md-6
            %p.user
              此篇文章由
              = @pin.user.email
              寫
          .col-md-6
            .btn-group.pull-right
              = link_to like_pin_path, method: :put, class: "btn btn-default" do
                %span.glyphicon.glyphicon-heart
                  = @pin.get_likes.size
              - if user_signed_in? && @pin.user == current_user
                = link_to "修改", edit_pin_path(@pin), class: "btn btn-default"
                = link_to "刪除", pin_path, method: :delete, data: { confirm: "確定刪除?" }, class: "btn btn-default"
