= simple_form_for @user do |f|
  - if @user.errors.any?
    %h2
      = @user.errors.count
    %ul
      - @user.errors.full_messages.each do |msg|
        %li= msg
  .form_group
    = f.input :introduction, label: "介紹", input_html: { class: "form-control"}

  = f.button :submit, "修改", class: "btn btn-primary"
