.col-md-8.col-md-offset-2
  .panel.panel-default
    .panel-heading
      %h1
        = @user.email
        的介紹
    .panel-body
      %p= @user.introduction
      - if user_signed_in? && @user == current_user
        =link_to '編輯介紹', introduction_path
