%nav.navbar.navbar-default
  .container
    .navbar-brand= link_to "PinterestApp", root_path
    - if user_signed_in?
      %ul.nav.navbar-nav.navbar-right
        %li= link_to "新Pin", new_pin_path
        %li= link_to "帳戶", edit_user_registration_path
        %li= link_to "登出", destroy_user_session_path, method: :delete
    - else
      %ul.nav.navbar-nav.navbar-right
        %li= link_to "註冊", new_user_registration_path
        %li= link_to "登入", new_user_session_path
