!!! 5
%html
  %head
    %title PinterestApp
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
  %body
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = render 'layouts/header'
    .container
      - flash.each do |name, msg|
        = content_tag :div, msg, class: "alert alert-info"
      = yield
